/* Importing the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  max-width: 100% !important;
  height: 100vh;
}

main {
  width: 100%; 
  max-width: 370px;
  background-color: #fff;
  
  position: relative;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 375px;
  height: 48px;
  padding: 4px 0px;
  background-color: white;
}

.Logo {
  font-size: 18px;
  font-weight: 700;
  color: #6070ff;
  margin-left: 20px;
}

.menu {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
}

.Headline {
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 48px);
  padding: 114px 0px;
  background-image: url(./back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Introduction {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  margin-right: 50px;
  margin-top: -20px;
  margin-left: 20px;
}
.paragraph{
  position: relative;
  margin-left: 20px;
}

.Para {
  position: relative;
  top: -40px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  color: #344563 ;
  margin-top: 15px;
  margin-right: 40px;
  
}

.Lets-Connect {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #6070ff;
  margin-top: -40px;
  margin-left: 20px;
}

.Social-Media {
  width: 170px;
  height: auto;
  margin-left: 20px;
  margin-top: 12px;
}
.social_icons{
  margin-left: -20px;
  margin-top: -5px;
}

ul{
  list-style: none;
  display: flex;
  gap: 8px;
  margin-left: -40px;
  margin-top: -12px;
}

/* Main Content */
.main-content {
  width: 280px;
  height: 600px;
  margin-top: 100px;
  margin-left: 40px;
  padding: 16px 16px 16px 0px;
  gap: 20px;
  border-radius: 16px 16px 16px 16px;
  border: 1px 1px 1px 1px;
  opacity: 0px;
  background-color: white;
}

.image-container {
  width: 250px;
  height: 220px;
  margin-left: 23px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  opacity: 0px;
  

}
.details-section {
  margin-top: 10px;
  margin-left: 23px;
}
.info-list {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.P-Title{
  font-family: Poppins;
font-size: 32px;
font-weight: 700;
line-height: 44px;
text-align: left;
margin-top: -40px;
margin-bottom: 0px;
}
.project-name {
  
font-family: Poppins;
font-size: 13px;
font-weight: 600;
line-height: 16px;
text-align: left;

}

.span-text{
  
font-family: Poppins;
font-size: 13px;
font-weight: 600;
line-height: 16px;
text-align: left;
color: #7A869A;
}
.separator {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: #C1C7D0;
}
.tech-stack {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.tech-item {
  padding: 5px 10px;
  background-color: #EBEBFF;
  color: #6070FF;
  border-radius: 8px;
}
.view-project {
  padding: 15px;
  border: 1px solid #6070FF;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  color: #6070FF;
  font-weight: 500;
  font-size: 16px;
}

/* Personal Info */
.personal-info {
  margin-top: 120px;
  background-color: white;
  padding: 20px;
  
}
.about-heading {
 
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;

}

.paragra{
  
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: -1px;
  margin-right: 10px;
  margin-top: -30px;
  

}
.connect-text {
  color: #6070FF;
  font-weight: 500;
}
.social-links {
  display: flex;
  list-style: none;
  margin-top: 20px;
  margin-left: -25px;
  gap: 15px;
  
}
.resume-button {
  padding: 15px;
  border: 1px solid #6070FF;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  color: #6070FF;
  font-weight: 700;
  font-size: large;
}
.language-heading {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
}
.language-container {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.language-item {
  background: #F7F7F9;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-heading {
width: 327px;
height: 72px;
font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 24px;
text-align: left;


}

/* Contact Section */
.contact-section {
    background-size: contain;
    background-image: url(./contact\ form\ shapes-mobile@2x.png);
    background-position: right;
    border-top-left-radius: 100px;
    background-color: #6070FF;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}
.contact-heading {
  margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    
}
.contact-message {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #EBEBFF; 
  margin-top: -12px;
  margin-left: 33px;
  margin-right: 33px; 

}
.contact-form {
  margin-top: 50px;
}
  
.input-field {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: black;
  width: 327px;
  height: 48px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 20px;
  border-style: hidden;
  border-radius: 8px
  
  
  

;
}
.message-field {
  width: 327px;
  height: 170px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  opacity: 0px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 20px;
  
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color:#B3BAC5;


}
.submit-button {
  margin-left: 17px;
  margin-bottom: 50px;
  border: 1px solid #6070FF;
  background-color: white;
  color: #6070FF;
  
  font-family: Poppins;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;

  width: Hug (142px)px;
  height: Hug (48px)px;
  top: 5317px;
  left: 24px;
  padding: 12px 16px 12px 16px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  opacity: 0px;

}
